<div class="card-book">
  <div class="card-book__image">
    <img src="././images/book_1.jpg" alt="" />
  </div>
  <div class="card-book__links">
    <a class="card-book__link-read" href="">Want to red</a>
    <a class="card-book__link-mark" href="">Mark as read</a>
  </div>
</div>
