<nav class="header-container container">
  <img class="header__logo" src="assets/finereads_logo.svg" alt="logo">
  <ul class="header-menu">
    <li class="header-menu__item"><a class="header-menu__link" href="">My books</a></li>
    <li class="header-menu__item"><a class="header-menu__link" href="">Find books</a></li>
  </ul>
</nav>