<div class="container">
  <img class="image" src="/reads.png" alt="Finereads">
  <div class="content">
    <p> MEET <span>Fine</span>reads</p>
    <p id="id">Your new personal Library</p>
    <a href="/search" class="submit_get">Get Started</a>
  </div>
</div>
<style>

  .container{
    display: grid;
    width: 100%;
    min-height: 100%;
    grid-template-areas: 'image content';
    grid-template-columns: 50% 50%;
  }

  .image {
    grid-area: image;
    height: 100%;
    width: 100%;
  }

  .content {
    font-family: 'Roboto Slab', serif;
    grid-area: content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .content span{
    font-weight: 100;
    font-size: 28px;
    line-height: 37px;
  }

  p {
    font-size: 28px;
    line-height: 37px;
    margin-bottom: 12px;
  }

  .submit_get {
    display: block;
    padding: 8px 14px;
    background: #F6AD55;
    border: 0;
    font-size: 18px;
  }

</style>