<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Finereads</title>
  <link href="/styles.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:100,400&display=swap" rel="stylesheet">
  <style>
    .navbar-finereads{
      height: 40px;
      width: 141px;
    }

    .content{
      display: flex;
      flex-direction : row;
      font-family: Nunito;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 25px;

    }
    .content > a{
      padding-left:20px;
    }
    .navbar {
      display:flex;
      flex-direction: row;
      justify-content: space-between;
      max-width: 1024px;
      padding-top:13px;
      margin: auto;

    }
  </style>
</head>
<body>
<header>
  <% unless request.path_info == '/' %>
  <div class=navbar>
     <a href = "/"><img class = "navbar-finereads" src= "/finereads.svg" alt = "Finereads"></a>
     <div class = "content">
        <a href = "/my_books/"><p>My books</p></a>
        <a href = "/search"><p>Find Books</p></a>
     </div>
  </div>
  <% end %>
</header>
<div class="app">
  <%= yield %>
</div>
<% unless request.path_info == '/' %>
<footer>
  # Pendiente
</footer>
<% end %>
</body>
</html>