<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Finereads</title>
  <link href="/styles.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700&display=swap" rel="stylesheet">
</head>
<body>
<header>
  # Pendiente
</header>
<div class="app">
  <%= yield %>
</div>
<footer>
  # Pendiente
</footer>
</body>
</html>