.mybooks__table {
    border-collapse: collapse;
    width: 100%;
}

.mybooks__table tr, td, th{
    vertical-align: top;
    border-bottom: 1px #000 solid;
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid rgba(113, 128, 150, 0.8);
}

.mybooks__row__options {
    border: none;
}

.mybooks__row__options {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.mybooks__row__option {
    cursor: pointer;
}
