@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
:root {
  --btn-color-primary: #f6ad55;
  --btn-color-secondary: #f6e05e;
  --text-grey: #4a5568;
  --text-general: #1a202c;
  --book-title: #ed8936;
  --color-green: #9ae6b4;
  --color-green-dark: #38a169;
  --color-blue: #2b6cb0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

body {
  background: #fffaf0;
}

.title {
  font-size: 24px;
}

.btn {
  border: none;
  outline: none;
  padding: 1vh;
}

.btn__principal {
  background: var(--btn-color);
  color: var(--text-general);
}

.btn__secondary {
  background: var(--btn-color-secondary);
}

.input {
  border: none;
  outline: none;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.06);
}
